* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  hr{
      height:3px;
      border-width:0;
      color:gray;
      background-color:gray;
      margin-bottom:30pt;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 20px;
  }
  
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 #8cbcff;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .top-container {
    height: 10%;
    width: 100%;
    display: flex;
    margin-bottom: 10pt ;
  }
  .tittle {
    width: 85%;
    font-size: 35pt;
  }
button {
  width: 7%;
  margin: 5pt;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  
  .delete-checkbox{
    float: left;
    width:10%;
  }
  
  #add-button{
      background-color: #04AA6D; 
  }
  
  #delete-button{
      background-color: #f76868; 
  }


input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


label{
    padding: 12px;
    width: 12%;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
  width: 7%;
  margin: 5pt;
  color: white;
  background-color: #04AA6D;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 10pt ;
  }


#save-button{
    background-color: #04AA6D; 
}

#cancel-button{
    background-color: #f76868; 
}

